/*STRUCTURE*/
.l-header{
	min-height: 100%;
	background-image: url('../img/morning.jpg');
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Brandon_thin";
}

.l-navbar{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	box-sizing: border-box;
}

.l-info{
	padding: 5em;
	box-sizing: border-box;
	text-align: center;
	font-family: "Brandon_light";
}

.info_area__title{
	border-bottom: 1px solid;
	margin-bottom: 1.5em;
}

/*SIZE*/

/*STYLE*/