.h-text--white {
  color: white;
}

.h-fullsize {
  width: 100%;
  min-height: 100%;
}

.header__title {
  color: white;
  text-align: center;
  animation: fadeInLeft 2s ease;
}
@media (min-width: 769px) {
  .header__title > p {
    font-size: 5em;
  }
}
@media (max-width: 780px) {
  .header__title > p {
    font-size: 50pt;
  }
}

/*NAVBAR*/
@media (min-width: 769px) {
  .navbar__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16pt;
  }
}
@media (max-width: 780px) {
  .navbar__list {
    display: none;
  }
}

.navbar__item {
  margin: 0 20px;
  transition: all ease 0.3s;
}

.navbar__item > a {
  color: white;
  font-family: "Brandon_light";
}

@media (min-width: 769px) {
  .navbar__menu--mobile {
    display: none !important;
  }
}
@media (max-width: 780px) {
  .navbar__menu--mobile {
    color: white;
    display: block;
    cursor: pointer;
    padding: 1em;
    font-size: 20pt;
  }
}

/*SIDEBAR*/
@media (max-width: 780px) {
  .sidebar__list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-size: 16pt;
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
  }
}
@media (min-width: 769px) {
  .sidebar__list {
    display: none;
  }
}

.sidebar__header {
  width: 100%;
  padding: 0.8em;
  box-sizing: border-box;
}

.sidebar__title {
  font-size: 1.5em;
  color: white;
  text-align: right;
}

.sidebar__item {
  width: 100%;
  padding: 0.5em 0.8em;
  transition: all ease 0.3s;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
}
.sidebar__item > a {
  color: white;
  font-family: "Brandon_light";
}

/*INFO AREA*/
.info_area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info_area__article {
  margin-top: 1.5em;
  font-size: 1.1em;
  text-align: justify;
}

.medialink {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background-color: black;
  font-family: "Brandon_thin";
}
@media (min-width: 769px) {
  .medialink {
    width: 50%;
    height: 300px;
  }
}
@media (max-width: 780px) {
  .medialink {
    width: 100%;
    height: 30vmax;
  }
}
.medialink .medialink__title {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.medialink > img {
  width: 100%;
  opacity: 0.5;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -ms-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}
.medialink:hover > img {
  opacity: 0.1;
  -webkit-transition: all ease 5s;
  -moz-transition: all ease 5s;
  -ms-transition: all ease 5s;
  -o-transition: all ease 5s;
  transition: all ease 5s;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.card {
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  padding: 0.5em;
}
@media (min-width: 769px) {
  .card {
    width: 25%;
  }
}
@media (max-width: 780px) {
  .card {
    width: 100%;
  }
}
.card > .card__media {
  box-sizing: border-box;
  padding: 1.5em;
  width: 100%;
  height: 40%;
}
.card > .card__article {
  height: 60%;
  text-align: justify;
}

/*SIZE*/
.info_area__title--large {
  font-size: 2em;
}

.info_area__title--medium {
  font-size: 1.5em;
}

.info_area__title--small {
  font-size: 0.8em;
}

/*# sourceMappingURL=module.css.map */
