@import '_helper';
@import 'mixins/_responsiveness';

/*STRUCTURE*/
.l-header{
	min-height: 100%;
	background-image: url('../img/morning.jpg');
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Brandon_thin";
}

.l-navbar{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	box-sizing: border-box;

	animation: fadeInDown 2s ease;

	img{
		-webkit-transition: all ease .3s;
		   -moz-transition: all ease .3s;
		    -ms-transition: all ease .3s;
		     -o-transition: all ease .3s;
		        transition: all ease .3s;
	}
}

.l-info{
	display: flex;
	align-items: center;
	box-sizing: border-box;
	text-align: center;
	font-family: "Brandon_light";
}

.l-medialink{
	@extend %flex-row;
	flex-wrap: wrap;
}

/*SIZE*/
.l-info--large{
	padding: size(large);
}
.l-info--medium{
	padding: size(medium);
}
.l-info--small{
	padding: size(small);
}

/*STYLE*/
.l-info--center{
	justify-content: center;
}
.l-info--space{
	justify-content: space-around;
}

.l-info--dark{
	background-color: #111;
}